* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-block: 10px;
  font-weight: 700;
  font-size: 18px;
}

h2,
h3 {
  padding: 10px;
  color: blue;
  font-weight: 500;
  font-size: 16px;
}

li {
  padding-left: 10px;
  font-size: 14px;
}

code {
  color: rgb(0, 138, 41);
  font-size: 14px;
}

img {
  display: block;
  margin-inline: auto;
  max-width: 100%;
}

.home {
  margin-block: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background: rgb(40, 126, 196);
}

.home a {
  font-weight: 300;
  text-decoration: none;
}