* {
  /* margin: 0; */
  box-sizing: border-box;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
}


@media (min-width:1024px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
}

.title {
  padding-block: 0.5em;
  text-align: center;
  color: white;
  background: blue;
}

.title h1 {
  margin-block: 0;
}

.home {
  padding-block: 0.5em;
  text-align: center;
  color: white;
  background: blue;

}

a .home {
  font-weight: 700;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: blue;
  font-weight: 700;
  margin-block: 0.83em;
}

p {
  font-size: 16px;
}

li {
  padding-left: 10px;
  font-size: 14px;
}

code {
  color: blue;
  font-family: monospace;
  font-weight: 500;
}

pre {
  padding-block: 0.5em;
  overflow: auto;
  background-color: rgba(231, 231, 231, 0.404);
  padding-left: 1em;
}


img {
  display: block;
  margin-inline: auto;
  max-width: 100%;
}

span {
  color: blue;
  font-weight: 500;
}